@font-face {
    font-family: "my-font";
    src: url(OpenSans/OpenSans-Regular.ttf);
}
html{
    font-size: 62.5%;
    scroll-behavior: smooth;
}
body{
    margin: 0;
    font-family: "my-font";
    padding: 0;
}
:root{
    --main-color: rgba(9, 133, 250, 0.959);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
}
a{
    text-decoration: none;
    color: white;
}
header{
    width: 100%;
    min-height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url(images/banner.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}
.nav-container{
    padding: 5rem 6rem;
    display: flex;
    padding-right: 0;
}
.nav-container nav{
    flex: 1;
    text-align: right;
}
.nav-container ul li{
    display: inline-block;
    margin-right: 3.5rem;
    
}
.nav-container ul li a{
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing:1px;
    font-size: 1.5rem;
    transition: 0.3s;
}
.nav-container li a:hover{
    color: var(--main-color);
}
.header-text{
    width: 100%;
    max-width: 1200px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
    padding: 10px;
    margin: auto;
    margin-top: 50px;

}
.header-text h1{
    font-size: 60px;
    margin: 10px auto;
    font-weight: 500;
}
.header-text p{
    font-size: 18px;
    display: block;
    padding: 10px;
    margin: 10px auto 20px;
}
.button{
    padding:1rem 3rem;
    font-size: 1.8rem;
    display: inline-block;
    margin-right: 1.8rem;
    border-radius: 0.5rem;
    background-color: var(--main-color);
    transition: 0.5s;
}
.links{
    margin-top: 50px;
}
.btn:hover{
    background-color: rgba(0, 0, 0, 0.7);
}
#btn-3{
    background-color: transparent;
    border: 1px solid var(--main-color);
}
#btn-3:hover{
    background-color: var(--main-color);
}
.icon{
    position: absolute;
    bottom: 1.5rem;
    left: 50%;
    transform: translateX(-50%);
    font-size: 3rem;
}
.icon a{
    transition: 0.2s;
}
.icon a:hover{
    color: var(--main-color);
}
.menu{
    width: 50px;
    height: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: none;
    padding: 10px 0;
}
.menu:hover{
    background-color: #333;
}
.menu span{
    width: 20px;
    height: 3px;
    background-color: white;
    border-radius: 10px;
    display: none;
    margin: auto;
}


/*ABOUT US*/

#about{
    margin-top: 100px;
}
.small-container{
    width: 100%;
    padding: 20px 50px;
}
.section-header{
    text-align: center;
    position: relative;
    padding-bottom: 9px;
    margin-bottom: 30px;
}
.section-header h3{
    font-size: 3rem;
    margin-bottom: 3px;
    color: #222;
}
.section-header p{
    font-size: 1.8rem;
    font-style: italic;
    color: #555;
    margin-top: 0;
    margin-bottom: 7px;
    line-height: 4rem;
}
.section-header::after{
    content: '';
    width: 80px;
    height: 2px;
    background-color: var(--main-color);
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}
.row{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}
.col-2{
    flex-basis: 50%;
    min-width: 300px;
}
.col-2 img{
    width: 100%;
}
.col-2 p{
    font-size: 1.6rem;
    margin-bottom: 20px;
    color: #555;
}
/*Portfolio*/
#portfolio{
    margin-bottom: 50px;
}
.col-4{
    flex-basis: 25%;
    min-width: 250px;
    position: relative;
}
.col-4 img{
    width: 100%;
    
}
.hover-text h3{
    font-size: 1.6rem;
    color: white;
    text-shadow: 0 1px 5px rgba(0, 0, 0, 0.5);
}
.hover-text{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(rgba(0, 107, 247, 0.671), rgba(0, 107, 247, 0.671));
    transition: 0.5s;
    transition-delay: 0.1s;
    opacity: 0;
}
.hover-text:hover{
    opacity: 1;
}
.project{
    text-align: center;
    margin-bottom: 70px;
}
.project p{
    font-size: 2rem;
    font-weight: bold;
    font-style: italic;
    margin-bottom: 5rem;
    color: #333;
}
.project .button{
    color: black;
    font-weight: bold;
    font-size: 15px;
}
.project .button:hover{
    color: white;
}

/*TESTIMONIALS*/

#testimonials{
    padding: 90px 30px 30px;
    background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url(images/testimonial.jpg);
    background-position: center;
    background-size: cover;
    color: white;
    position: relative;
    margin-bottom: 90px;
}
.testimonial-container h3{
    color: white;
    font-weight: lighter;
}
.testimonial-container .section-header::after{
    background-color: white;
}
.testimonial-container{
    width: 100%;
    max-width: 880px;
    margin: auto;
    margin-bottom: 0;
}
.testimonial, .testifier{
    text-align: center;
}
.testifier{
    margin-top: 3rem;
}
.testifier h5{
    font-size: 1.9rem;
    font-weight: bold;
    color: rgb(0, 100, 240);
}
.testimonial p{
    font-size: 1.8rem;
    font-style: italic;
    font-weight:300;
}
.slider{
    text-align: center;
    margin-top: 30px;
}
.slider span{
    display: inline-block;
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
    margin-right: 0.3rem;
}
.slider span:first-child{
    background-color: white;
}
.slider span:nth-child(2), .slider span:last-child{
    background-color: rgba(255, 255, 255, 0.11);
}

/*SERVICES*/
.col-3{
    flex-basis: 30% ;
}
.services .col-3{
    margin-bottom: 5rem;
    margin-right: 1rem;
}
.services .col-3 h3{
    font-size: 2rem;
    margin: 1.5rem auto;
}
.services .fa{
    color: var(--main-color);
    font-size: 3rem;
}
.services .col-3 p{
    font-size: 1.5rem;
    color: #555;
}
#services, #team{
    width: 100%;
    max-width: 1300px;
    padding: 50px;
    margin: auto;
}
 /*team*/

#team{
     margin-top: 50px;
}
.team-container{
    margin-top: 5rem;
}
.team-container .col-4{
    flex-basis: 20%;
    margin-right: 2rem;
    min-width: 100px;
}
.team-container .col-4 h5{
    font-size: 1.8rem;
    color: #222;
    margin-bottom: 1.2rem;
    text-align: center;
    margin-top: 1rem;
}
.team-container .col-4 p{
    font-size: 1.4rem;
    color: #555;
    text-align: center;
}

.team-pics{
    margin: 0;
    position: relative;
}
.team-pics i{
    padding: 0.5rem;
    font-size: 1.5rem;
    color: #fff;
    background-color: #333;
    margin-right: 0.7rem;
}
.team-pics i:hover{
    color:var(--main-color);
    background-color:#fff;
}

/*before latest news*/
.before-news{
    margin-top: 2rem;
    padding:10rem 2rem 8rem;
    background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url(images/before_latest_news.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.before-news i{
    font-size: 6rem;
    color: #fff;
    display: inline-block;
    text-align: center;
    margin: auto;
    margin-bottom: 2rem;
}
.before-news p{
    color: #fff;
    font-size: 2rem;
    font-style: italic;
    text-align: center;
}
.before-news a{
    padding-left: 2rem;
    padding-right: 2rem;
    margin: auto;
    margin-top: 4rem;
    font-size: 1.5rem;
}

/*news*/
#news{
    margin-top: 10rem;
    padding: 2rem;
}
.news-container .col-3{
    padding: 2rem;
}
.news-container .col-3 img{
    width: 100%;
}
.news-text h3{
    margin: 1.5rem 0;
    font-size: 2rem;
    color: #222;
}
.news-text small{
    display: inline-block;
    font-size: 1.4rem;
    color: #777;
    font-style: italic;
    font-weight: bold;
    margin-bottom: 1rem;

}
.news-text p{
    font-size: 1.45rem;
    color: #333;
    margin-bottom: 1.5rem;
}
.news-text h6{
    font-size: 1.3rem;
    color: var(--main-color);
    cursor: pointer;
}
.blog{
    display: flex;
    justify-content: center;
    align-items: center;
}
.blog .button{
    color: #111;
    padding: 0.7rem 2rem;
    margin: 2rem 0;
}
.blog .button:hover{
    color: #fff;
}


/*contact*/
#contact{
    margin-top: 10rem;
    margin-bottom: 5rem;
}
.contact{
    width: 100%;
    max-width: 750px;
    margin: auto;
    padding-top: 4rem;
}
.contact form{
    position: relative;
}
.contact .input-group, .contact .row .col-2{
    padding: 0 2rem;
    margin-bottom: 2rem;
}
.contact input, .contact textarea{
    display: inline-block;
    width: 100%;
    padding: 1.5rem;
    border: none;
    border: 1px solid rgb(212, 212, 212);
    margin-bottom: 2rem;
    font-size: 1.4rem;
    color: #444;
}
textarea{
    min-width: 100%;
    max-width: 100%;
    min-height: 20rem;
    max-height: 20rem;
    margin-bottom: 2rem;
}
.contact input:focus, .contact textarea:focus{
    outline: 0.5px solid var(--main-color);
    box-shadow: none;
}
.button-div{
    margin-top: 5rem;
    text-align: center;
}
.contact .button{
    font-size: 1.5rem;
    border-radius: 0.3rem;
    
}

footer{
    width: 100%;
    min-height: 11rem;
    padding:3rem 0;
    background: #222;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.socials{
    padding: 1rem;
}
.socials span{
    display: inline-block;
    color: #fff;
    font-size: 1.4rem;
    margin-right: 1.4rem;
    letter-spacing: 0.05rem;
    font-weight: bold;
}
.copyright{
    font-size: 1.4rem;
    font-weight: bold;
    padding: 1rem;
    color: #777;
}
.copyright span{
    color: var(--main-color);
}
@media (max-width:1200px){
    .team-container .col-4 h5{
        font-size: 1.4rem;
        margin-bottom: 0.5rem;
    }
    .team-container .col-4 p{
        font-size: 1.2rem;
    }
}

@media (max-width:1000px){
    .menu span{
        display: inline-block;
    }
    .menu{
        display: flex;
    }
    
    .nav-container{
        padding-left: 0;
        padding-right: 0;
        max-width: 800px;
        margin: auto;
    }
    .nav-container nav{
        width: 100%;
        display: block;
        z-index: 2;
        text-align: center;
        margin: auto;
    }
    .nav-container nav ul{
        display: block;
        width: 95%;
        position: absolute;
        top: 90px;
        left: 50%;
        transform: translateX(-50%);
        background: #333;
        overflow: hidden;
        transition: 0.5s;
        margin: auto;
        margin-top: 2px;
        display: flex;
        flex-direction: column;
    }
    .nav-container nav ul li{
        display: block;
        text-align: left;
        margin-bottom: 10px;
        flex: 1;

    }
    .nav-container nav a{
        display: block;
        color: white;
        margin-right:20px;
        margin-top: 5px;
        margin-bottom: 5px;
        padding-left: 20px;
        height: 100%;
        padding-top: 20px;
    }
    
    .header-text{
        max-width: 880px;
    }
    .header-text h1{
        font-size: 3.6rem;
    }
    .header-text p{
        font-size: 1.6rem;
    }
    .col-4{
        flex-basis: 50%;
    }
    .team-container .col-4{
        flex-basis: 40%;
        margin-bottom: 2rem;
    }
    #team{
        padding: 3rem;
    }
    .team-container{
        margin-left: auto;
    }
}
@media (max-width:840px){
    .nav-container{
        width: 90%;
    }
    .small-container{
        padding: 20px 10px;
    }
    .col-2 p{
        font-size: 1.5rem;
        padding-left: 20px;
    }
}
@media (max-width:750px){
    
    .col-2{
        flex-basis: 100%;
    }
    .services .col-3{
        flex-basis: 100%;
        margin-bottom: 1rem;
        padding: 2rem 0;
    }
    #services{
        padding-left:3rem ;
    }
    .news-container .col-3{
        flex-basis: 100%;
        padding: 0;
        margin-bottom: 2rem;
    }
    
}
@media(max-width:500px){
    .header-text{
        width: 100%;
    }
    .header-text p{
        font-size: 1.2rem;
    }
    .header-text a{
        display: block;
        width: fit-content;
        margin: auto;
        margin-bottom: 1.8rem;
    }
    .section-header p{
        font-size: 1.5rem;
        line-height: 2rem;
    }
    .col-4{
        flex-basis: 100%;
        width: 100%;
    }
    .testimonial p{
        font-size: 1.5rem;
        line-height: 2.5rem;
        margin-bottom: 0;
    }
    .testimonial-container h3{
        font-size: 2.8rem;
    }
    .testifier h5{
        margin:0;
        font-size: 1.5rem;
        margin-bottom: 8rem;
    }
    .slider{
        display: block;
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
    }
    #services{
        padding-left: 2rem;
        padding-right: 2rem;
    }
    .services .col-3 p{
        font-size: 1.45rem;
    }
    .team-container .col-4{
        flex-basis: 100%;
        margin-right: auto;
    }
    .before-news{
        padding: 5rem 2rem;
    }
    .before-news p{
        font-size: 1.8rem;
        line-height: 3.6rem;
        padding: 2rem;
    }
    .before-news a{
        margin-top: 2rem;
    }
    .before-news i{
        margin-bottom: 0rem;
        padding: 1rem;
    }
    .socials{
        padding: 0.2rem;
    }
    .socials span{
        font-size: 1.1rem;
        margin-right: 0.5rem;
        margin-bottom: 1rem;
    }
    .copyright{
        text-align: center;
        font-size: 1.1rem;
        line-height: 1.8rem;
        padding: 0.8rem;
    }
}